<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC "-//Apache Software Foundation//DTD Struts Configuration 2.1//EN" "http://struts.apache.org/dtds/struts-2.1.dtd">
<struts>
	<package name="server" namespace="/server" extends="main">
		<!-- 主页跳转 -->
		<action name="index" class="userAction" method="welcome">
			<interceptor-ref name="baseStack" />
			<result name="welcome">/dynamic/server/view/welcome.jsp</result>
		</action>
	</package>
</struts>
